{% extends "@App/base.html.twig" %}

{% block title %}test payment{% endblock %}

{% block body %}

    <h1>test payment</h1>

    <form action="https://test.payu.in/_payment" method="post">

        <input type="text" id="key" name="key" value="{{ requestObject.key }}">
        <input type="text" id="txnid" name="txnid" value="{{ requestObject.txnid }}">
        <input type="text" id="amount" name="amount" value="{{ requestObject.amount }}">
        <input type="text" id="productInfo" name="productInfo" value="{{ requestObject.productInfo }}">
        <input type="text" id="firstName" name="firstName" value="{{ requestObject.firstName }}">
        <input type="text" id="email" name="email" value="{{ requestObject.email }}">
        <input type="text" id="phone" name="phone" value="{{ requestObject.phone }}">
        <input type="text" id="lastName" name="lastName" value="{{ requestObject.lastName }}">
        <input type="text" id="address1" name="address1" value="{{ requestObject.address1 }}">
        <input type="text" id="address2" name="address2" value="{{ requestObject.address2 }}">
        <input type="text" id="city" name="city" value="{{ requestObject.city }}">
        <input type="text" id="state" name="state" value="{{ requestObject.state }}">
        <input type="text" id="country" name="country" value="{{ requestObject.country }}">
        <input type="text" id="zipcode" name="zipcode" value="{{ requestObject.zipcode }}">
        <input type="text" id="udf1" name="udf1" value="{{ requestObject.udf1 }}">
        <input type="text" id="udf2" name="udf2" value="{{ requestObject.udf2 }}">
        <input type="text" id="udf3" name="udf3" value="{{ requestObject.udf3 }}">
        <input type="text" id="udf4" name="udf4" value="{{ requestObject.udf4 }}">
        <input type="text" id="udf5" name="udf5" value="{{ requestObject.udf5 }}">
        <input type="text" id="surl" name="surl" value="{{ requestObject.surl }}">
        <input type="text" id="furl" name="furl" value="{{ requestObject.furl }}">
        <input type="text" id="curl" name="curl" value="{{ requestObject.curl }}">
        <input type="text" id="hash" name="hash" value="{{ requestObject.hashPayment }}">


        <input type="submit" value="submit">
    </form>

{% endblock %}
