{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>SelectRoons.co</title>
    <style type="text/css">
        body, html
        {
            margin: 0; padding: 0; height: 100%; overflow: hidden; background-color: #00a0d7;
        }

        #content
        {
            position:absolute; left: 0; right: 0; bottom: 0; top: 0px; text-align: center;
        }
    </style>
</head>
<body>
<div id="content">
    <iframe width="100%" height="100%" frameborder="0" src="https://s3-ap-southeast-1.amazonaws.com/selectrooms.co/index.html" />
</div>
</body>
</html>
{% endspaceless %}