{% extends "@App/base.html.twig" %}

{% block title %}test payment{% endblock %}
{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script>
        Stripe.setPublishableKey('pk_test_hhN4klBaTKn6dPmUCNPiNog6');

    </script>
    <div class="container">
        <h1>Stripe</h1>
        <div class="col-md-4">
            <form method="post" id="example-form">

                <div class="form-row">
                    <label for="name" class="stripeLabel">Name</label>
                    <input type="text" name="name" class="form-control" value="Тест Тестович"/>
                </div>

                <div class="form-row">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" class="form-control" value="1@1.ru"/>
                </div>

                <div class="form-row">
                    <label>Card Number</label>
                    <select class="form-control" name="card">
                        <option>Выберите карту</option>
                        <option selected value="4242424242424242">Все зашибок Visa</option>
                        <option value="5555555555554444">Все зашибок MasterCard</option>
                        <option value="4000000000000010">Неверный адресс карты</option>
                        <option value="4000000000000101">СVC неверный</option>
                        <option value="4000000000000341">Ошибка провода оплаты</option>
                        <option value="4000000000000002">Оплата откланена</option>
                        <option value="4000000000000069">Дата действия карты неверная</option>
                        <option value="4242424242424241">Неверный номер карты</option>
                    </select>
                </div>

                <div class="form-row">
                    <label>CVC</label>
                    <input type="text" name="cvc" maxlength="4" class="form-control" value="111"/>
                </div>

                <div class="form-inline">
                    <label>Expiration</label>
                    <div class="expiry-wrapper">
                        <select class="form-control card-expiry-month" name="mm">
                        </select>
                        <script type="text/javascript">
                            var select = $(".card-expiry-month"),
                                    month = new Date().getMonth() + 1;
                            for (var i = 1; i <= 12; i++) {
                                select.append($("<option value='" + i + "' " + (month === i ? "selected" : "") + ">" + i + "</option>"))
                            }
                        </script>
                        <span> / </span>
                        <select class="form-control card-expiry-year" name="yy"></select>
                        <script type="text/javascript">
                            var select = $(".card-expiry-year"),
                                    year = new Date().getFullYear();
                            for (var i = 0; i < 12; i++) {
                                select.append($("<option value='" + (i + year) + "' " + (i === 0 ? "selected" : "") + ">" + (i + year) + "</option>"))
                            }
                        </script>
                    </div>
                </div>
                <br>
                <button type="submit" name="submit-button" class="btn btn-success">Тестируем</button>
                <span class="payment-errors"></span>
            </form>
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger" onclick="getToken()">Stripe токен</button>
            <span style="font-size: larger" class="label label-success result-token"> Token is here, really</span>
        </div>
    </div>
    <script>
        function getToken() {

            Stripe.createToken({
                number: $("[name=card]").val(),
                cvc: $("[name=cvc]").val(),
                exp_month: $("[name=mm]").val(),
                exp_year: $("[name=yy]").val()
            }, function (status, response) {
                if (response.error) {
                    $(form['submit-button']).removeAttr("disabled")
                    $(".payment-errors").html(response.error.message);
                    addInputNames();
                } else {
                    var token = response['id'];
                    $(".result-token").html(token);
                }
            });

        }
    </script>
    </div>
{% endblock %}

